* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}
/* 滚动在线咨询 */
#zai{
   position: fixed;
   z-index: 3;
   right: 0;
   margin-top:25.5%;

 
}
#zai2{
    position: fixed;
    z-index: 3;
    right: 0;
    margin-top:20%;
 
  
 }
 

/* 导航 */
#header {
    width: 100%;
    border-top: 8px solid wheat;

}

#header #daohang {
    width: 1200px;
    height: 67px;
    margin: auto;
    /* background: red; */
}

#header #logo {
    width: 118px;
    height: 33px;
    margin: 17px 40px 17px 0;
    float: left;
}

#header #list {
    float: left;
}

#header #list li {
    line-height: 67px;
    list-style: none;
    float: left;
    margin: 0 25px;


}

#header #list li a {
    text-decoration: none;
    color: black;
}

#header #list li a:hover {
    border-bottom: 1px solid salmon;
    font-weight: 550;
}

#header #sizi p {

    float: left;
    margin: 0 25px;
    line-height: 67px;

}

#header #sizi p a {

    text-decoration: none;
    color: black;
}

#header #sizi p a:hover {
    border-bottom: 1px solid salmon;
    font-weight: 550;
}
#header  #zhuce{
    width: 326px;
    height: 26px;
    float: right;
    padding-top:20px;

}
#header  #zhuce #sousuo {
    width:150px ;
    height: 26px;
    border-bottom:1px solid  black;
    float: left;
}
#header  #zhuce #sousuo img{
    width: 25px;
    height: 25px;
    float: right;;
}
#header  #zhuce img{
    margin: top;
    height: 25px;
    width: 25px;
 
    
}
#header  #zhuce  #che{
    margin-right:25px ;
    margin-left: 25px;
}
#header  #zhuce #wode{
    height: 26px;
    display: inline;
    font: 14px;
    text-decoration: none;
    line-height:26px;
    color:black;
    float: right;
}
/* 底部导航 */
#dibu{
    width: 100%;
    background:#F9ECE1;
    clear: both;
}
#dibu #dibu_2{
    width: 1200px;
    margin: auto;
    height: 544px;
    padding: 80px 0 0;
  
}

#dibu #dibu_2 a{
    text-decoration: none;
    color:black;
}
#dibu #dibu_2 #women {
    float: left;
}
#dibu #dibu_2 #women li{
    width: 153px;
    height: 35px;
    list-style:none;
    font-size: 14px;
    clear: both;
    line-height:35px;
    color:black;
    float: left;
}
#dibu #dibu_2 #dianhua{
    float: right;
}
#dibu #dibu_2 #xinxi{
    clear: both;
    width: 1200px;
    height: 101px;
    padding-top:45px;
    font-size:12px;
    color: #666;
}
#dibu #dibu_2 #xinxi a{
    line-height: 40px;
    display: inline-block;
    padding: 0 5px;
    color: #666;
 
    
}
#dibu #dibu_2 #xinxi a:hover{
    text-decoration:block;
}
#dibu #dibu_2 #jingshi{
    width: 1200px;
    height:30px;
}
#dibu #dibu_2 #jingshi img{
    width: 90px;
    height: 30px;
}